<div class="row page-header">
  <div class="col-lg-7">
    <h1 class="">Administradores</h1>
  </div>
  <div class="col-lg-5">
    <div style="margin-top: 30px; text-align: right;">
      <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-novo" do %>
        <i class="fa fa-plus"></i> Novo
      <% end %>
      <%= link_to admins_backoffice_welcome_index_path, class:"btn btn-default btn-sair" do %>
        <i class="fa fa-arrow-left"></i> Sair
      <% end %>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th style="text-align:center;">#</th>
            <th>E-mail</th>
            <th style="text-align:center;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin|  %>
            <tr>
              <td style="width: 5%; text-align:center;"><%= admin.id %></td>
              <td style="width: 77%;"><%= admin.email %></td>
              <td style="width: 18%; text-align:center;">
                <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-sm btn-primary" do %>
                  <i class="fa fa-edit"></i> Editar
                <% end %>

                <%= link_to admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-sm btn-danger", data: {confirm: "Deseja excluir o adminstrador: #{admin.email}?"} do %>
                  <i class="fa fa-trash-o"></i> Excluir
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
